@use '../globals/colors.scss' as *;
@use '../util/functions.scss' as *;

.h2__experience_title{
  color: white;
  font-weight: 600;
  font-size: rem(24);
  text-transform: uppercase;
  padding-bottom: rem(20);
}

.section__experience{
  padding-top: rem(16);
  padding-bottom: rem(66);
}

.ul__experience_list{
  & > .list-group-item{
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: $gray_light;
    font-weight: 300;
    cursor: pointer;
  }
}

.listClick{
  border-left: 2px solid $blue_yuri !important;
  background-color: $dark_200 !important;
  cursor: pointer;
  color: white !important;
}

.h2__staticTitle{
  color: white;
  font-weight: 500;
  padding-bottom: rem(20);
}

.p__staticJobName{
  color: $blue_yuri;
  font-weight: 500;
  font-size: rem(16);
  padding-bottom: rem(20);
}

.time__staticTime{
  color: white;
  font-weight: 500;
  padding-bottom: rem(20);
}

.p__staticJobText{
  color: $gray_light;
  font-weight: 300;
  font-size: rem(16);
  padding-bottom: rem(20);
}


